h1 {
  color: #1864Bf; 
  font-size: 40px;
  text-align: center;
  padding: 1em;
  font-weight: bold;
  background-color: #B6C5D7;
}  
p {
  color: #232528;
}
.container{
    display:grid;
  width: 100%
    margin: auto; 
  grid-gap: 150px;
    grid-template-rows: 250px 160px;
    border: 2px solid red;
  justify-content: center;
  }
  .box{
    display: flex;   
    align-itens: center;
    justify-content: center;
    padding: 20px;
    border: 1px solid #5B91E2;
    }
.header{
  color: #1864Bf; 
  font-size: 40px;
  text-align: center;
  padding: 1em;
  font-weight: bold;
  background-color: #B6C5D7
}
.content{
color: #232528;
}
