h1 {
  color: #1864Bf; 
  font-size: 40px;
  text-align: center;
  padding: 1em;
  font-weight: bold;
  background-color: #B6C5D7;
}  
p {
  color: #232528;
}
.container{
    display:grid;
    flex-direction: row;
    border: 2px solid #5B91E2;
  }
  .box{
    display: flex;   
    width: 250px;
    height: 150px;
    border: 1px solid #5B91E2;
    }
